.ql-container {
  height: 60vh;
}

.ql-editor > p::selection {
}

.ql-editor {
  font-size: 14px;
  font-weight: 1000;
  font-style: normal;
  font-family: sans-serif;
}

.transcript-block {
  font-size: 14px;
  font-weight: 1000;
  font-style: normal;
  font-family: sans-serif;
}

.transcript-block > p {
  margin: 5px;
}
