.ql-container {
  height: 60vh;
}

.ql-editor > p {
  margin: 5px;
}

.ql-editor {
  font-size: 14px;
  font-weight: 1000;
  font-style: normal;
  font-family: sans-serif;
}

.transcript-block {
  font-size: 14px;
  font-weight: 1000;
  font-style: normal;
  font-family: sans-serif;
}

.transcript-block > p {
  margin: 5px;
}

.transcript-block > p {
  margin: 5px;
}

.smart-editor-title {
  font-family: 'Roboto',sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #697586;
}

.selected-text-display > p {
  font-size: 14px;
  font-weight: 1000;
  font-style: normal;
  font-family: sans-serif;
}

.chat-action-chip {
  font-size: 14px;
  font-weight: 1000;
  font-style: normal;
  font-family: sans-serif;
}
