.quill {
  height: 70vh;
  display: flex;
  flex-flow: column;
}

.ql-toolbar {
  flex: 0 1 auto;
}

.ql-container {
  flex: 1 1 auto;
  overflow-y: scroll;
}

.ql-editor > p {
  margin: 5px;
}

.ql-editor {
  font-size: 14px;
  font-weight: 1000;
  font-style: normal;
  font-family: sans-serif;
}

.scrolling-transcript-container {
  height: 70vh;
  overflow-y: scroll;
}
.transcript-block {
  font-size: 14px;
  font-weight: 1000;
  font-style: normal;
  font-family: sans-serif;  
}

.transcript-block > p {
  margin: 5px;
}

.transcript-block > p {
  margin: 5px;
}

.smart-editor-title {
  font-family: 'Roboto',sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #697586;
}

.smart-editor-container {
  margin: 10px !important;
  padding: 0;
}

.selected-text-display > p {
  font-size: 14px;
  font-weight: 1000;
  font-style: normal;
  font-family: sans-serif;
}

.selected-text-display > ul > li {
  font-size: 14px;
  font-weight: 1000;
  font-style: normal;
  font-family: sans-serif;
}

.chat-action-chip {
  font-size: 14px;
  font-weight: 1000;
  font-style: normal;
  font-family: sans-serif;
}
